@model List<DoAn.Models.GioHang>
@using DoAn.Models
@{
    ViewBag.Title = "Cart";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ảnh bìa</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng cộng</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GioHang gioHang in Model)
                    {
                        int gia = gioHang.sanPham.giaKM ?? gioHang.sanPham.giaBan;
                        <tr tr="@gioHang.sanPham.ID">
                            <td class="cart_product">
                                <a href=""><img src="@gioHang.sanPham.anh.Url" alt="" width="50px"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="@Url.Action("Product","Shop",routeValues: new {id = gioHang.sanPham.tenDuongDan })">@gioHang.sanPham.tenSP</a></h4>
                            </td>
                            <td class="cart_price">
                                <p gia ="@gia" sp_gia="@gioHang.sanPham.ID">@gia vnd</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <button class="cart_quantity_up" onclick="up(@gioHang.sanPham.ID,this)"> + </button>
                                    <input class="cart_quantity_input" type="number" name="quantity" value="@gioHang.soLuon" autocomplete="off" size="2" onchange="input(@gioHang.sanPham.ID,this)" />
                                    <button class="cart_quantity_down" onclick="down(@gioHang.sanPham.ID,this)"> - </button>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p tt="@gioHang.sanPham.ID" class="cart_total_price">@gioHang.tongCong vnd</p>
                            </td>
                            <td class="cart_delete">
                                <button type="button" onclick="deleted(@gioHang.sanPham.ID,this)" class="cart_quantity_delete" href=""><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<!--<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Use Coupon Code</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Use Gift Voucher</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimate Shipping & Taxes</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Country:</label>
                            <select>
                                <option>United States</option>
                                <option>Bangladesh</option>
                                <option>UK</option>
                                <option>India</option>
                                <option>Pakistan</option>
                                <option>Ucrane</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Region / State:</label>
                            <select>
                                <option>Select</option>
                                <option>Dhaka</option>
                                <option>London</option>
                                <option>Dillih</option>
                                <option>Lahore</option>
                                <option>Alaska</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Get Quotes</a>
                    <a class="btn btn-default check_out" href="">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>$59</span></li>
                        <li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--/#do_action-->
@section js{
    <script>
        function up(id,ev) {
            increaseGioHang(id)
            let input = $(ev).next()
            let val = parseInt(input.val())
            input.val(val + 1)
            let gia = $("[sp_gia=" + id + "]").attr("gia")
            $("[tt=" + id + "]").text((gia*input.val())+" vnd")
        }
        function down(id,ev) {
            let input = $(ev).prev()
            let val = parseInt(input.val())
            if (val <= 0) return
            reductionGioHang(id)
            input.val(val - 1)
            let gia = $("[sp_gia=" + id + "]").attr("gia")
            $("[tt=" + id + "]").text((gia * input.val()) + " vnd")
        }
        function input(id, ev) {
            let val = $(ev).val()
            addGioHang(id, val)
            let gia = $("[sp_gia=" + id + "]").attr("gia")
            $("[tt=" + id + "]").text((gia * val) + " vnd")
        }
        function deleted(id, ev) {            
            dropGioHang(id)
            $("[tr=" + id + "]").fadeOut();
        }
    </script>
    
}